.app-about-container {
    display: flex;
    padding: 32px 82px;
    flex-direction: column;

  }
  .bottom-abt{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    
  }
  .top-abt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .app-about-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .app-car-image {
    max-width: 100%;
    height: auto;
  }
  
  .app-about-content {
    flex: 1;
    padding-left: 40px;
  }
  
  .app-about-heading {
    font-size: 2.5rem;
    color: #8A3026; /* Adjust color to match your design */
    margin-bottom: 20px;
  }
  
  .app-company-overview {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .app-about-text {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
  }
  @media  (max-width: 500px)  {
    .top-abt{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
    .bottom-abt{
      justify-content: space-between;
      align-items: center;
      display: flex;
      flex-direction:column;
      
    }
    .app-about-container {
      display: flex;
      padding: 10px;
      flex-direction: column;
  
    }
    .app-company-overview{
      font-size: 20px;
    }
    .app-about-text{
      font-size: 16px;
      text-align: center;
    }
    .app-about-content {
      flex: 1;
      padding-left: 0px;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }